<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div id="app">
</div>

</body>
<script>
    var App = {
        template: '<div>' +
        '           <input type="text" v-model="a">' +
        '           <input type="text" v-model="b">' +
        '           <input type="text" v-model="c">' +
        '         {{result}}</div>',
        data: function () {
            return {
                a: 0,
                b: 0,
                c: 0,
            }
        },
        computed: {
            result: function () {//凡是函数内部有this点相关属性改变都会触发当前函数
                //监视对象写在了函数内部
                console.log("aa")
                return ((this.a-0) + (this.b-0) + (this.c-0))
            }
        }
    };
    new Vue({
        el: "#app",
        components: {//声明要用的组件们
            app: App
        },
        template: '<app/>'//组件入口
    });
</script>
</html>