<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./node_modules/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
</div>

</body>
<script>
  var Son={
      template:`<div>
          <h1 v-if="qwe">1</h1>
          <h1 v-show="qwe">2</h1>
          <ul>
              <li v-for="stu in ['小三','小四']">{{stu}}</li>
          </ul>
          <button>{{title}}</button><br/>
          单项数据流
          <input type="text" :value="ext"><br/>
          双向数据里
          <input type="text" v-model="ext">
          <h1>主要看这里</h1>
          {{ext}}
          <hr/>
      </div>`,
      props:['title'],//申明接受参数
      data:function () {
          return{
              qwe:true,
              ext:'hello',
          }
      },
      methods:{
          changeQwe:function () {
              this.qwe=!this.qwe
          }
      }
  }
    var App={//这是Vue的子组件，同时也是下层组件的父级
        components:{//声明需要的组件们
            'my-son':Son,
        },
        template:'<div>' +
        // '           <my-son title="asd"></my-son>' +//v-bind给元素绑定静态值（常量）
        '           <my-son v-bind:title="asd"></my-son>' +//v-bind给元素绑定动态prop
        '         </div>',//组件入口
        data:function () {
            return{
                asd:'外国人'
            }
        }
    };

    new Vue({
        //data就不在这个组件对象中写了（启动组件）
        el: "#app",
        components:{//声明要用的组件们
            //key是组件名，value是组件对象
            app:App
        },
        template:'<app/>'//组件入口
    });
</script>
</html>