a {
  text-decoration: none;
}
ul,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
}
.center-view .touzhu .el-input__inner ,.center-view .touzhu .el-input-group__append {
  border-radius: 0;
  background-color: transparent;
  border:none;
}
.custom-slider .el-slider__runway {
  background-color: #cd0c26;
  height: 14px;
  border-radius: 8px;
}
.custom-slider .el-slider__bar {
  background-color: #4CE8DE;
  height: 14px;
  border-radius: 8px;
  webkit-box-shadow: 0 0 7px #4CE8DE;
  box-shadow: 0 0 7px #4CE8DE;
}
.custom-slider .el-slider__button-wrapper {
  top: -11px;
}
.custom-slider .el-slider__button {
  width: 22px;
  height: 22px;
  border: none;
}
.custom-slider .el-slider__button.hover ,.custom-slider .el-slider__button.dragging {
  transform: none;
}
.custom-slider .el-slider__button:after {
   content: "";
   display: block;
   height: 28px;
   width: 28px;
   position: absolute;
   left: 4px;
   top: 4px;
   border-radius: 50%;
   -webkit-box-shadow: 0 0 12px #fff inset;
   box-shadow: 0 0 12px #fff inset;
}
.custom-rank-row {
  background-color: #171c32!important;
  color: #ffffff!important;
  text-align: center!important;
}
.custom-rank-header-row {
  background-color: #1c233f!important;
  color: #ffffff!important;
  text-align: center!important;
  border-bottom: none!important;
}
.custom-rank-header-cell {
}
.custom-rank-cell {
  text-align: center!important;
  border-bottom: 4px solid #1c233f!important;
}
.custom-rank-row:hover>td {
  background-color: #171c32 !important;
}
.custom-all-bets .el-tabs__item {
  font-size: 18px;
  font-weight: bold;
}
.custom-all-bets .el-tabs__nav-wrap::after {
  background-color: #1c233f;
}
.custom-ranking-box .el-table::before {
  background-color: #1c233f;
}
.ctrl-board .el-input__inner {
  background-color: #3b435c;
  color: #ffffff;
  border: none;
}
.el-select-dropdown {
  background-color: #3b435c;
  border: none;
}
.el-select-dropdown .el-select-dropdown__list .selected{
  background-color: #3b435c;
  color: #ffffff;
}
.el-select-dropdown .el-select-dropdown__list .hover{
  background-color: #3b435c;
  color: #ffffff;
}
.el-popper .popper__arrow , .el-popper .popper__arrow::after {
  border-bottom-color: #3b435c!important;
}
.el-select-dropdown .el-select-dropdown__list .el-select-dropdown__item{
  background-color: #3b435c;
  color: #d3d3d3;
}
.el-select-dropdown .el-select-dropdown__list .el-select-dropdown__item:hover{
  background-color: #3b435c;
  color: #ffffff;
}
.nav-items li .el-select .el-input__inner {
  background-color: #3b435c;
  color: #ffffff;
  border: none;
}
/*.el-table--scrollable-y .el-table__body-wrapper {*/

/*}*/
.custom-ranking-box .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.custom-ranking-box .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #3C4771;
}
.custom-ranking-box .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #1C233F;
}
.custom-ranking-box .el-table th {
  background-color: #1C233F;
}
.custom-all-bets .el-tabs__item:hover {
  color: #fff;
}
.custom-all-bets .el-tabs__item.is-active {
  color: #fff;
}
.custom-all-bets .el-tabs__active-bar {
  background-color: white;
}
.custom-ranking-box .el-table tr:first-child td:first-child {
  background-image: url("../../assets/img/one.png");
  background-repeat: no-repeat;
  background-size: 26px auto;
  background-position:center ;
}
.custom-ranking-box .el-table tr:nth-child(2) td:first-child {
  background-image: url("../../assets/img/two.png");
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position:center ;
}
.custom-ranking-box .el-table tr:nth-child(3) td:first-child {
  background-image: url("../../assets/img/three.png");
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position:center ;
}
/************************
----------nav-dialog----------
************************/
.custom-dividend .el-dialog__body {
  padding: 0px 25px 20px;
}
.custom-play .el-dialog__header span ,.custom-play .el-dialog__header i{
  color: #ffffff;
}
.custom-invite .el-dialog__header span ,.custom-invite .el-dialog__header i{
  color: #ffffff;
}
.custom-dividend .el-dialog__header span ,.custom-dividend .el-dialog__header i{
  color: #ffffff;
}
.login-form .el-dialog__header span ,.login-form .el-dialog__header i{
  color: #ffffff;
}
.login-button .el-dialog ,.nav-items .el-dialog {
  background: linear-gradient(to top right, #533A9C , #35AA95);
  opacity: 0.95;
}
.nav-items .custom-dividend .el-tabs__item {
  color: #ffffff;
}
.custom-record-cell {
  border-bottom: 1px solid rgba(255,255,255,0.1)!important;
}
.custom-record-row {
  background-color: transparent!important;
}
.custom-record-row:hover>td {
  background-color: transparent !important;
}
.custom-record-header-cell, .custom-record-header-row {
  background-color: transparent!important;
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.1)!important;
}
.record .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {/*滚动条整体样式*/
  width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.record .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,0.6);
}
.record .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color:rgba(255,255,255,0.1);
}
.record .el-table::before {
  background-color: transparent;
}
.custom-invite {
  width: 480px;
}
.custom-play {
  width: 650px;
}
.custom-dividend {
  width: 560px;
}
.login-form {
  width: 360px;
}
.login-form .el-form-item .el-form-item__label{
  color: #ffffff;
}
.login-form .el-dialog__body {
  padding-bottom: 0;
}
.login-form .el-input .el-input__inner{
  display: block;
  margin: 0 auto;
  width: 250px;
  border: none;
  color: #ffffff;
  background-color: rgba(255,255,255,0.1)!important;
}
.el-button--custom {
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  border:none;
  width: 250px;
}
